@import "reset.css";
@import "slick.scss";
@import "slick-theme.scss";

$break-small: 768px;
$white: #fff;
$black: #000;
$light-red: #F14358; 
$h2-font-size: 24px;

body {
	margin: 0;
}

#main {
	.pano {
	    background: url("images/pano1.jpg") no-repeat top center;
	    background-size: cover;
	    width: 100%;
	    height: 700px;
	    h1.title {
    	    font-size: 42px;
			font-weight: bold;
			color: $white;
    		padding: 40px 0 10px 40px;
	    }
	    span.date {
    	    font-size: 28px;
		    border: 1px solid $white;
		    background-color: $white;
		    margin-left: 40px;
		    padding: 0 5px;
	    }
	    @media screen and (max-width: $break-small) {
	    	height:250px;
	    	h1.title {
	    		font-size: 18px;
	    	}
	    	span.date {
	    		font-size: 16px;
	    	}
	    }
	}
	.mobile-app-avail {
    	text-align: center;
    	padding: 50px;
    	h2.title {
    		font-size: $h2-font-size;
    		font-weight: normal;
    	}
    	img.mobile {
    		width: 50%;
    	}
    	.sign-up-form {
    		.label { 
    			font-size: 20px; 
    			display: block;
    		}
    		.email {
			    width: 100%;
			    max-width: 370px;
			    font-size: 12px;
			    margin: 15px auto;
			    padding: 8px 0;
			    text-indent: 5px;
		        border: 1px solid $black;
    		}
    		.submit {
			    display: block;
			    margin: 0 auto;
			    padding: 8px 30px;
			    color: $white;
			    background: $black;
			    border-color: $black;
			    font-weight: 400;
			    font-size: 16px;
			    font-family: Times;
			    &:hover {
					-webkit-transform: translateX(-5px) translateY(-5px);
					transform: translateX(-5px) translateY(-5px);
					box-shadow: 5px 5px 0 0 $light-red;
				}
    		}
    	}
	}
   	.parallax {
   		background: url("images/parallax.jpg") no-repeat;
   		background-size: cover;
   		background-attachment: fixed;
   		height: 400px;
   		.container {
	    	position: relative;
		    top: 200px;
		    text-align: center;
		    .official-blog {
	    	    border: 1px solid $black;
				background-color: $black;
				font-size: $h2-font-size;
				color: $white;
				padding: 15px 40px;
				text-decoration: none;
				width: 250px;
				margin: 0 auto;
				display: block;
				&:hover {
					-webkit-transform: translateX(-5px) translateY(-5px);
					transform: translateX(-5px) translateY(-5px);
					box-shadow: 5px 5px 0 0 $light-red;
				}
		    }
   		}
   		@media screen and (max-width: $break-small) {
   			background-attachment: initial;
   			height: 300px;
   			.container {
   				top: 130px;
   				.officail-blog {
   					font-size: 16px;
   					padding: 15px 15px;
   				}

   			}
   		}
   	}

	.sidebar {
    	position: fixed;
		left: 0;
		top: 200px;
		.social {
			.social-item {
				width: 20px;
				padding: 15px;
				a { color: $white; }
				text-align: center;	
				&:hover {
					width: 40px;
				}		
			}
			.social-item-facebook {
				background-color: #C5C5C5;
			}
			.social-item-google {
				background-color: #A6A6A6;
			}
			.social-item-twitter {
				background-color: #858585;
			}
			.social-item-plus {
				background-color: #646464;
			}
		}
	}	

	.runway {
		.runway-title {
	    	text-align: center;
			font-size: $h2-font-size;
			margin: 80px 0 30px 0;
		}
		.runway-item {
			float: left;
			width: 16.6%;
			overflow: hidden;
			img {
				width: 100%;
				transition: 0.3s ease-in-out;
				&:hover {
					transform: scale(1.25);	
				}
			}
			@media screen and (max-width: $break-small) {
				width: 33.3%;
			}
		}
	}
	.sponsors {
		position: relative;
		top: 80px;
		clear: both;
		.sponsors-title {
			text-align: center;
			font-size: $h2-font-size;
			margin: 80px 0 30px 0;
		}
		.sponsor-items {
			margin: 10px auto;
			width: 70%;
			.sponsor-item {
				img {
					display: block;
					width: 80%;
				}
			}
			.slick-prev:before,
    		.slick-next:before {
        		color: black;
    		}
		}
	}
}

footer.footer {
	position: relative;
	top: 140px;
	/*padding: 20px;*/
	
    .footer-top {
    	width: 100%;
    	text-align: center;
    	.footer-icon {
    		display: inline-block;
    		font-size: $h2-font-size;
    		color: $light-red;
    		background-color: $black;
		    width: 60px;
		    height: 60px;
		    border-radius: 60px;
		    vertical-align: middle;
		    line-height: 60px;
    		position: relative;
    		font-style: italic;
    		&:before {
    			right: 100%;
    		}
    		&:after {
    			left: 100%
    		}
		    &:before, &:after {
		    	content: '';
		    	height: 5px;
	    	    position: absolute;
    			top: 25px;
		    	width: 700px;
		    	border-bottom: 1px solid $black;
		    }
    	}
    } 
	.footer-bottom {
        text-align: center;
		color: #C7C7C7;
		font-size: 14px;
		margin: 20px 0;

	}
}